.loginbox{
    width:30%;
    margin :auto;
    /* display: "flex"; */
    flex-direction: "column";
    gap: "20px";
    align-items: "center";
    margin-top: "60px";
    border: "1px solid grey";
    padding-bottom: "40px";
    border: 1px solid black;
    background-color: aqua;
    border-radius: 30%;
    margin-top: 16%;
}
.inp1{
    width: "250px";
    height: "25px";
    margin-right: 15px;
}
.inp2{
    width: "250px";
    height: "25px";
}

